body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    direction: rtl; 
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
}

body {
    background-image: url("../../assets/images/tillhang/background.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@font-face {
    font-family: gadi;
    src: url("../assets/fonts/gadi-almog-regular-aaa.otf");
    font-weight: 500;
}

/* animations */
@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* loder */
.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: 800;
    background-color: black;
    opacity: 0.9;
}

.loader > img {
    width: 50vw;
}

.loader.fade {
    animation: fadeOut 1s 2s forwards;
}

.tillhang {
    color: white;
    font-family: "gadi";
}

.tillhangContainer {
    padding: 1em;
    width: 92vw;
    height: 80vh;
    /* flex-wrap: wrap; */
    text-align: center;
    flex-direction: column;
}

.tillhangTitle {
    font-size: 2.5em;
}

.tillhangHanger {
    width: 28vw;
    margin: 1em;
}
 
.tillhangTitleDefinition {
    font-size: 1.5em;
    font-weight: bold;
}

.tillhangDefinition {
    font-size: 1.1em;
}

.tillhangLetterSpace {
    width: 90vw;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 26vh;
}

.letterSpace {
    font-size: 1.6em;
    font-weight: bold;
    border-bottom: 0.1em solid transparent;
    border-image: url("../assets/images/tillhang/underline.svg") 2 stretch;
    width: 8vw;
    height: 8vh;
    line-height: 2.6;
}

.letterSpaceDash {
    width: 5vw;
    height: 2vh;
}

.tillhangkeyBoard {
    width: 80vw;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    top: 65vh;
}

.keyboardLetter  {
    font-size: 1.1em;
    /* font-weight: bold; */
    width: 7vw;
    height: 4vh;
    text-align: center;
    background-color: #034442;
    line-height: 1.4;
    margin: 0.1em;
    border-radius: 0.4em;
    padding: 0.2em;
}

.tillHangNextQuestion {
    position: absolute;
    bottom: 10vh;
    left: 5vw;
    width: 20vw;
}

.tillhangEndButton {
    font-size: 1.7em;
    font-weight: bold;
    background-color: #bfbfbf;
    padding: 0 0.5em;
    padding-bottom: 0.2em;
    border-radius: 0.3em;
}

.tillhangEndMan {
    width: 24vw;
    padding: 1em;
}

.boardContainer .boardFlex {
    display: flex;
}

.boardContainer {
    top: 17vh;
}

.tillhangDefinitionContainer {
    width: 50vw;
}

/* about */

.aboutInfo {
    width: 100vw;
    height: 100vh;
    margin: 0;
    direction: rtl; 
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    background-image: url("../../assets/images/tillhang/backgroundAbout.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    font-family: "gadi";
    font-size: 0.7em;
}

.aboutTextContainer {
    top: 16vh;
    width: 51vw;
}

.aboutTextContainer div {
    text-align: center;
    font-size: 1.4em;
}

.xIcon {
    position: absolute;
    bottom: 10vh;
    right: 5vw;
    width: 20vw;
}

.tillLogo {
    position: absolute;
    top: 3vh;
    left: 5vw;
    width: 20vw;
}

.odotButton {
    position: absolute;
    top: 3vh;
    left: 5vw;
    width: 8vw;
}


/* ---------------------------------------------------------------------- */

.bg {
    direction: rtl; 
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.centerX {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.flexCenter {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}
